<div class="container">
  <div class="score">
    <div>
      <p>Your score {{ gameInterface.score }}</p>
    </div>
    <div>
      <p>Time left {{ gameInterface.time }}</p>
    </div>
    <div>
      <p>High score {{ gameInterface.highscore }}</p>
    </div>
  </div>
</div>

<div class="holecontainer">
  <span *ngFor="let hole of holes">
    <div class="peep" id="{{ 'doug' + hole.id }}" (click)="bonk(hole)">
      <img
        class="doug"
        [class.noPeep]="hole.theHole === false"
        id="{{ 'doug' + hole.id }}"
        alt=""
        src="../../assets/img/hound1.png"
      />
    </div>
  </span>
</div>
<div></div>
<div class="container">
  <div class="score">
    <div>
      <button [disabled]="gameInterface.buttonOff" (click)="startGame()">
        START
      </button>
    </div>

    <div>
      <p>&#169;1984 NINTENDO</p>
    </div>
  </div>
</div>
